* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: #b1b1b7;
    // background-color: gold;
    width: 100vw;
    height: 100vh;
}


html {
    font-size: 62.5%;
}

