@import '../../car_django/static/index';


.booking {
    position: relative;
    width: 100vw;
    height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
    &__wrapper {
        position: relative;
        width: 80%;
        height: 100%;
        overflow-y: auto;  
        overflow-x: hidden;  
        &::-webkit-scrollbar {
            width: 15px;  
        }
        &::-webkit-scrollbar-thumb {
            background: #FF5722;
            border-radius: 10px;  
        }
        &-card {
            position: relative;
            margin-bottom: 1.5em;
            &--btn {
                position: absolute;
                right: 4%;
                bottom: 2%;
            }
            &--date {
                position: absolute;
                top: 2%;
            }
        }
    }
}

.booked {
    filter: brightness(50%); 
    position: relative;
}

.booked .text-danger {
    color: red;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5em;
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}



.booking__wrapper-card--date {
    position: relative;
    margin-bottom: 6em;
    background-color: #f8f9fa; 
    border-radius: 10px;
    padding: 20px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

.booking__wrapper-card--date h5 {
    font-weight: bold;
    color: #333; 
}

.form-control {
    border: 1px solid #ced4da; 
    border-radius: 5px; 
}

.form-control:focus {
    border-color: #80bdff; 
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); 
}

.form-group label {
    font-weight: 600;
    color: #495057; 
}

.sticky-header {
    position: sticky;
    font-family: Megrim, system-ui;
    text-transform: uppercase;
    font-size: 1.875rem;
    line-height: 2.25rem;
    top: 0;
    z-index: 1000;
    background-color: rgba(50, 50, 50, 0.8); 
    color: #fff; 
    padding: 20px 0; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); 
}
.sticky-header h1 {
    margin: 0;
    font-size: 2rem;
}

.card {
    border-radius: 10px;
    overflow: hidden;
}

.form-booking {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form-booking-search {
    width: 100%;
}

.form-booking-btn {
    margin-top: 1em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-filter, .btn-reset {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    background-color: #4CAF50;
}

.btn-reset {
    background-color: #3F3F3F ;
    color: #fff;
}

.select-reservation {
    width: 100%;
    padding: 0.8em 1.2em;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    transition: border-color 0.3s ease;
}


.select-reservation:focus {
    border-color: #FF5722; 
    outline: none;
    box-shadow: 0 0 5px rgba(255, 87, 34, 0.5);
}

.form-booking-search input[type="text"] {
    width: 100%;
    padding: 0.75em 1em;
    font-size: 1rem;
    border: 2px solid #ccc; 
    border-radius: 8px;
    background-color: #fff;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}


.form-booking-search input[type="text"]:focus {
    border-color: #FF5722; 
    outline: none; 
    box-shadow: 0 0 5px rgba(255, 87, 34, 0.5); 
}


@media (max-width: 576px) {
    .form-group {
        margin-bottom: 1.2em; 
    }

    .select-reservation {
        font-size: 1rem; 
    }
}


@media (min-width: 577px) {
    .select-reservation {
        font-size: 1.1rem; 
        max-width: 400px; 
    }
    .form-booking-btn  {
        margin-top: 1em;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .btn-filter, .btn-reset {
        margin: 0em 0.4em;
    }
}


.user {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: auto;
}
