
@import '../../car_django/static/index';

body,
input,
textarea {
    font-family: "Poppins", sans-serif;
}

.car-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    margin-top: -70px;
    z-index: -10;
    z-index: 0; 
}

.btnBack {
    position: absolute;
    top: 2%;
    left: 2%;
    z-index: 10;
    cursor: pointer;
}

.car-image {
    position: relative;
    width: 100vw;
    height: 100vh;
    z-index: -10;
    width: 100%; 
    animation: blinkBrightness 2s infinite; 
    border-radius: 10px; 
}

.car-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 820px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow: hidden; 
}

.btn-form {
    cursor: pointer;
    background-color: #FF5722;
    color: #fff;
    z-index: 10;
    position: absolute;
    left: -1%;
}

.input:focus,
.textarea:focus {
    border-color: #FF5722 !important;  
    outline: none; 
}

.input:focus::placeholder,
.textarea:focus::placeholder {
    color: #FF5722 !important; 
}



.container {
    position: relative;
    width: 100vw;
    height: calc(100vh - 70px);
    padding: 2rem;
}


.big-circle {
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: linear-gradient(135deg, transparent 20%, #007bff);
    bottom: 50%;
    right: 50%;
    transform: translate(-40%, 38%);
    z-index: -1; 
}

.square {
    position: absolute;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(181%, 11%);
    opacity: 0.1; 
}

.form {
    width: 100%;
    max-width: 820px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow: hidden; 
}

.form-Txt {
    color: #fff;
    font-size: 1.8rem;
}

.check-txt {
    font-size: 1.2rem;
}

.contact-info {
    padding: 2rem;
}

.contact-info .title {
    color: #FF5722;
    margin-bottom: 0.5rem;
}

.title {
    color: #fff;
}

.text {
    color: #555;
    margin-bottom: 1.5rem;
}

.information {
    display: flex;
    color: #555;
    margin: 0.7rem 0;
    align-items: center;
}

.information i {
    color: #007bff; 
    margin-right: 0.5rem;
}

.social-media {
    margin-top: 1rem;
}

.social-icons a {
    margin-right: 10px;
    color: #FF5722; 
    transition: color 0.3s;
}

.social-icons a:hover {
    color: black;  
}

.social-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.icon-contact {
    margin: 0.5em 0em;
}

.contact-form {
    background-color: black;
    position: relative;
    padding: 2rem;
    overflow: hidden; 
}


.input-container {
    position: relative;
    margin: 1rem 0;
    z-index: 10;
}

.input {
    width: 100%;
    padding: 0.6rem 1.2rem;
    border: 2px solid #fafafa;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

.input:focus {
    border-color: #007bff; 
}

.btn {
    padding: 0.6rem 1.3rem;
    background-color: #fff;
    color: #007bff; 
    border: 2px solid #007bff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
    background-color: #007bff;
    color: #fff;
}

.textarea {
    min-height: 150px; 
    max-height: 350px;
    resize: none; 
}


input, textarea {
    font-size: 1.8rem;
}



@keyframes blinkBrightness {
    0% {
        filter: brightness(1); 
    }
    50% {
        filter: brightness(1.5); 
    }
    100% {
        filter: brightness(1); 
    }
}


@media only screen and (min-width: 576px) {
    .car-form {
        min-height: 595px;
    }
}
